C:\Jaco\00.DEV\VDrive\JJDev.VDrive\JJDev.VDrive.Core\bin/
C:\Jaco\00.DEV\VDrive\JJDev.VDrive\JJDev.VDrive.Core\obj/
C:\Jaco\00.DEV\VDrive\JJDev.VDrive\JJDev.VDrive.UnitTests\bin/
C:\Jaco\00.DEV\VDrive\JJDev.VDrive\JJDev.VDrive.UnitTests\obj/